<!DOCTYPE html>
<!-- thymeleaf 선언부 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<title>springboot thymeleaf</title>
</head>
<body>
Hello springboot thymeleaf : thymeleaf html은 templates 아래에 배치한다 ( 컨트롤러를 통해 응답하는 thymeleaf view html )
<br>
<span th:text="${message}">메세지</span>
<br><br>
<a href="getAllDepartmentCount">부서수</a>
<br><br>
<img src="thymeleaf.png">
</body>
</html>







