<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<title>Thymeleaf study home</title>
</head>
<body>
<!-- html 주석 -->
<!--/*   thymeleaf 주석     */-->
Hello <span th:text="${message}">타임리프</span> <br><br>

<!--/*   
		정적 자원 ( image , css , js 등 ) 은 src/main/resources/static 에 배치한다 
		
		img src 상에서 컨트롤러가 공유한 이미지 정보 변수를 이용해 화면에 이미지를 제공 
		th:src="@{}" 을 이용해야 한다 
 */-->
 <img src="../static/images/thymeleaf.png" th:src="@{/images/}+${imageName}">
 <br><br> 
 <a href="study1" th:href="@{/study1}">study1 text object expression</a><br><br>
 <!--/* src or href에 @{ / } 를 명시하지 않았을 때의 예 : 소스보기로 확인하면 된다    */-->
 <a href="study1" th:href="@{study1}">study1 text object expression2</a><br><br>
 <a href="study2" th:href="@{/study2}">study2 form object expression</a><br><br>
 <a href="study3" th:href="@{/study3}">study3 link href querystring</a><br><br>
 <a href="dinner" th:href="@{/study4}">study4 session param</a><br><br>
 <a href="study5" th:href="@{/study5}">study5 if unless switch</a><br><br>
 <a href="study6" th:href="@{/study6}">study6 loop each</a><br><br>
 <a href="study7" th:href="@{/study7}">study7 loop each lists</a><br><br>
 <a href="study8" th:href="@{/study8}">study8 loop each numbers</a><br><br>
 <a href="study9?id=java&name=아이유" th:href="@{/study9(id=java,name=손흥민)}">study9 javascript</a><br><br>
 <a href="study10" th:href="@{/study10}">study10 ajax</a><br><br>
 <a href="study11" th:href="@{/study11}">study11 ajax</a><br><br>
 <a href="study12" th:href="@{/study12}">study12 ajax thymeleaf</a><br><br>
 <a href="study13" th:href="@{/study13}">study13 thymeleaf layout</a><br><br>
 <a href="study14" th:href="@{/study14}">study14 thymeleaf layout simple</a><br><br>
 <!--/* 
 		thymeleaf 의 조건문을 적용해 session 안에 member 가 존재할때만 실행되도록 한다 
  */-->
 <th:block th:if="${session.member}!=null">
 <span th:text="${session.member.name}">회원명</span>님 
 </th:block>

</body>
</html>








