<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<title>Insert title here</title>
</head>
<body>
<div class="container pt-4">
<!--/*  thymeleaf jquery ajax   */-->
<h4>SpringBoot Thymeleaf ajax</h4>
<!--/*  jquery ajax 를 이용해 상품수를 제공 (일반적인 방식)    */-->
<button id="countBtn1">ajax test1</button>&nbsp;&nbsp;<span id="productCountView1"></span><br>
<!--/*  jquery ajax 를 이용해 상품수를 제공 (thymeleaf를 이용한 방식)    */-->
<button id="countBtn2">ajax test2</button>&nbsp;<span id="productCountView2" th:text=${productCount}></span><br>
<script type="text/javascript">
	$(function(){
		// 일반적인 ajax 처리 방식 - 간단한 상품수를 보여주기에 적합 
		$("#countBtn1").click(function() {
			$.ajax({
				type:"get",
				url:"getProductTotalCount",
				success:function(result){
					//console.log(result);
					$("#productCountView1").html(result);
				}
			});
		});//click
		// thymeleaf 를 이용한 ajax 방식 테스트 - 현재 상품수를 처리하는 로직에는 필요하지 않지만 학습을 위해 작성해본다 
		$("#countBtn2").click(function() {
			$.ajax({
				type:"get",
				url:"getProductTotalCount2",
				success:function(result){
					//console.log(result);
					$("#productCountView2").replaceWith(result);// replaceWith : 컨트롤러에서 받은 정보로 교체한다 
				}
			});
		});//click
	});//ready
</script>
</div>
</body>
</html>






